<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//
EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baoxian.dao.InsureinfMapper">

    <!--创建订单-->
    <insert id="AddInsureinf" parameterType="Insureinf">
    insert into Insureinf (insurancename, insurancetype, username, salesmanname)
    values (#{insurancename}, #{insurancetype}, #{username}, #{salesmanname})
    </insert>


    <!--修改订单-->



    <sql id="insureinf_C">
        insuranceid,insurancename,insurancetype,username,salesmanname,checkstate,checkmessage,paystate,starttime,endtime;
    </sql>

    <!--查询所有订单，用于业务员和管理员-->
    <select id="AllInsureinfList" resultType="Insureinf" resultSets="java.util.List">
        select <include refid="insureinf_C"></include> from Insureinf
        <where>
            <if test=" insurancename != null and insurancename != '' ">
                insurancename like concat("%",#{insurancename},"%")
            </if>
            <if test=" username != null and username != '' ">
                and username like concat("%",#{username},"%")
            </if>
        </where>
    </select>


</mapper>