<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//
EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baoxian.dao.InsureinfMapper">

    <!--创建订单-->

    <insert id="AddInsureinf" parameterType="Insureinf">
    insert into Insureinf (insurancename, insurancetype, userid, username)
    values(#{insurancename}, #{insurancetype}, #{userid},#{username})
    </insert>


    <!--修改订单-->
    <update id="Updatepaystate" >
        update Insureinf
        set paystate='已支付'
        where insureinfid=#{insureinfid}
    </update>


    <sql id="insureinf_C">
        insureinfid,insurancename,insurancetype,userid,username,checkstate,checkmessage,paystate,starttime,endtime,minpay,maxpay,finalstate
    </sql>

    <!--查询所有订单，用于业务员和管理员-->
    <select id="AllInsureinfList" resultType="Insureinf" resultSets="java.util.List">
        select <include refid="insureinf_C"></include> from insureinf
        <where>
            <if test=" insurancename != null and insurancename != '' ">
                insurancename like concat("%",#{insurancename},"%")
            </if>
            <if test=" username != null and username != '' ">
                and username like concat("%",#{username},"%")
            </if>
            <if test=" userid != null and userid != '' ">
                and userid = #{userid}
            </if>
            <if test=" insureinfid != null and insureinfid != '' ">
                and insureinfid = #{insureinfid}
            </if>
        </where>
    </select>


</mapper>