<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//
EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baoxian.dao.SalesmanMapper">

    <!--业务员登录-->
    <select id="SalesmanLogin" parameterType="Salesman" resultType="Salesman">
    select * from salesman
    where salesmanname=#{salesmanname} and password=#{password}
    </select>


    <!--根据姓名查询业务员，用于业务员个人信息功能-->
    <select id="SelectBySalesmanName" resultType="Salesman">
        select * from salesman
        where salesmanname=#{salesmanname}
    </select>

    <sql id="Salesman_C">
        salesmanid,salesmanname,password,sex,phone,level
    </sql>

    <select id="AllSalesmanList" resultType="Salesman" resultSets="java.util.List">
        select <include refid="Salesman_C"></include> from salesman
        <where>
            <if test=" salesmanname != null and salesmanname != '' ">
                salesmanname like concat("%",#{salesmanname},"%")
            </if>
            <if test=" level != null and level != '' ">
                and salesman.level like concat("%",#{salesman.level},"%")
            </if>
        </where>
    </select>
</mapper>